# Generated code
*.cydsn/CortexM3/
*.cydsn/Export/
*.cydsn/Generated_Source/
*.cydsn/codegentemp/
*.cydsn/Backup/
*.cydsn/*.cycdx
*.cydsn/*.cyfit
*.cydsn/*.cyprj.*
*.cydsn/*.rpt
*.cydsn/*.svd
*.cydsn/*_timing.html
*.cydsn/*.log
*.cywrk.*

# Vim
*.un~
