# Generated code
firmware/*.cydsn/CortexM3/
firmware/*.cydsn/Export/
firmware/*.cydsn/Generated_Source/
firmware/*.cydsn/codegentemp/
firmware/*.cydsn/Backup/
firmware/*.cydsn/*.cycdx
firmware/*.cydsn/*.cyfit
firmware/*.cydsn/*.cyprj.*
firmware/*.cydsn/*.rpt
firmware/*.cydsn/*.svd
firmware/*.cydsn/*_timing.html
firmware/*.cydsn/*.log
firmware/*.cywrk.*
*.zip

# Vim
*.un~
